<form class="row g-3 mt-5">
  <div class="col-12">
    <div class="result-message">
      <p class="fs-4">Sorry! The website crashed right now.　:(
        <br />
        We'll fix it soon.
        <br />
        {{error}}</p>
    </div>
  </div>

</form>