<form class="row g-3 mt-5" action="urls/result">
  <div class="col-12">
    <input
      type="url"
      class="form-control mb-4"
      name="suburl"
      id="input-url"
      required
    />
  </div>
  <div class="col-12 d-flex justify-content-center">
    <button
      type="submit"
      class="btn btn-outline-primary"
      type="submit"
    >Shorten</button>
  </div>
</form>